<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- Add your CSS files here -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> -->
</head>
<body>
    <header>
        <!-- Add your header here -->
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- Add your footer here -->
    </footer>

    <!-- Add your JavaScript files here -->
    <!-- <script src="{{ url_for('static', filename='script.js') }}"></script> -->
    {% include 'scripts.html' %}
</body>
</html>