<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link
  rel="stylesheet"
  href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css"
  type="text/css"
/>

<div class="my-dropzone"></div>

<script>
  // Dropzone has been added as a global variable.
  const dropzone = new Dropzone("div.my-dropzone", { url: "/file/post" });
</script>

<!-- configure file chunking -->
<script type="application/javascript">
  Dropzone.options.dropper = {
      paramName: 'file',
      chunking: true,
      forceChunking: true,
      url: '/upload',
      maxFilesize: 1025, 
      chunkSize: 1000000 
  }
</script>

<!-- loads global.css -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
