{% extends "base.html" %}

{% block content %}
    <!-- notif div -->
    {% if notif %}
    <div class="alert">
        <ul>
            {% for field, errors in notif.items() %} {% for error in errors %}
            <li>{{ field }}: {{ error }}</li>
            {% endfor %} {% endfor %}
        </ul>
    </div>
    <script>
        // Hide the notification after 5 seconds
        setTimeout(function() {
            var alertDiv = document.querySelector('.alert');
            alertDiv.style.display = 'none';
        }, 5000);
    </script>
    </div>
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }} {{ form.employee_id.label }} {{ form.employee_id()
      }} {{ form.full_name.label }} {{ form.full_name() }} {{
      form.department.label }} {{ form.department() }} {{ form.company.label }}
      {{ form.company() }} {{ form.photos.label }} {{ form.photos(multiple=True)
      }} {{ form.video.label }} {{ form.video() }} 
      {{ form.description.label }} {{ form.description() }}
      {{ form.submit() }}
    </form>
    <form method="POST" action='/upload' class="dropzone dz-clickable" 
      id="dropper" enctype="multipart/form-data">
      <div class="dz-message">
        <span>Drop your photos or videos here</span>
      </div>
      <input type="hidden" name="type" value="photos">
    </form>
    <form method="POST" action='/upload' class="dropzone dz-clickable" 
      id="dropper" enctype="multipart/form-data">
      <div class="dz-message">
        <span>Drop your videos here</span>
      </div>
      <input type="hidden" name="type" value="videos">
    </form>
    <script>
      // Save input values in case the browser loads
      window.addEventListener('load', function () {
        var inputs = document.querySelectorAll('input[type="text"]')
        for (var i = 0; i < inputs.length; i++) {
          var input = inputs[i]
          input.value = localStorage.getItem(input.id)
          input.addEventListener('input', function () {
            localStorage.setItem(this.id, this.value)
          })
        }
      })
    </script>
{% endblock %}
